<div class="container">
  <div class="d-flex justify-content-between mt-5">
    <div>
      <h3>Joel Brinck</h3>
      <p class="mb-5">
        Hej, mitt namn är Joel, 33 år -blivande Frontendutvecklare.
        Mina största intressen är vid skrivande stund Formel 1, Koda,
        Mat och Dryck och att umgås med vänner och familj.
      </p>
  
      <p>
        Spana in mitt <strong><a routerLink="/cv">CV</a></strong> eller skicka gärna ett mail via <strong><a routerLink="/kontakt">kontaktformuläret</a></strong>, hoppas vi ses snart!
      </p>
    </div>
    <img src="../../../assets/images/bild.jpg" alt="Joel" class="image-width">
  </div>

</div>