<div class="container">
  <div class="my-5">
    <h3>Profil</h3>
    <p class="mb-5">Ambitiös och hårt arbetande student söker arbete. 
      Ser fram emot att använda nyförvärvade kunskaper inom frontendutveckling. 
      Har ett stort intresse för datorer och teknik, har lätt för att lära mig nya program och att lösa problem. Gillar att jobba enskilt och i grupp och har lätt för att kommunicera.
      Har en positiv attityd, är entusiastisk och gillar utmaningar.</p>
    <h3>Arbetslivserfarenhet</h3>
    <p>
      Montör på ABB Control
      <br>
      (inhyrd via Adecco dem 3 första månaderna)
      <br>
      feb 2008–okt 2011
    </p>
    <p class="mb-5">
      Kvalitetstekniker på ABB Control
      <br>
      nov. 2011–2021(tjänstledigt)
    </p>
    <h3>Utbildning</h3>
    <p>
      IT-Gymnasiet - IT
      <br>
      2003-2006
    </p>
    <p class="mb-5">
      EC Utbildning - Frontendutveclare
      <br>
      2020-2022(Pågår)
    </p>
    <h3>Kompetenser</h3>
    <p class="mb-5">
      Datorprogrammering - HTML, CSS, Javascript
      <br>
      Reklamationshantering, auditering av industriella produkter.
    </p>
    <h3>Språk</h3>
    <p>Behärskar skrift och tal i både Svenska och Engelska.</p>
  </div>

  
</div>